In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [10]:
df_country = pd.read_csv('../data/asylum-claims-by-country.csv')
df_country

,Country,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023,2024
0,Pakistan,"2,151","4,005","4,867","4,576","3,976","3,365","3,774","3,193","2,625","2,617","1,572","1,287","3,167","5,904","10,542"
1,Afghanistan,"1,843","1,529","1,242","1,456","1,753","2,852","3,115","1,962","2,103","2,165","1,575","3,192","11,358","9,710","8,508"
2,Iran,"2,224","3,051","3,162","2,967","2,499","3,716","4,837","3,094","4,003","5,490","4,224","10,522","10,007","7,842","8,099"
3,Bangladesh,501,671,"1,169","1,246",919,"1,320","2,256","2,004","1,463","1,375",895,"1,081","4,522","5,097","7,225"
4,Syria,160,508,"1,289","2,020","2,353","2,794","1,569",786,921,"1,390","1,772","3,968","4,857","3,930","6,680"
5,India,610,615,"1,195","1,111",922,"1,324","2,054","1,821","1,685","1,953","1,067","1,216","3,612","5,682","5,312"
6,Vietnam,467,347,416,466,400,620,822,"1,154","1,278","1,610","1,018","1,889","1,075","2,469","5,259"
7,Eritrea,772,827,768,"1,431","3,291","3,756","1,265","1,127","2,208","1,937","2,641","5,079","3,519","4,013","5,053"
8,Sudan,643,793,740,834,"1,615","3,018","1,445","1,842","1,786","1,785","2,183","2,419","3,397","3,564","4,833"
9,Iraq,496,377,423,450,911,"2,648","3,734","3,356","3,660","4,008","3,328","7,796","6,800","4,255","3,469"
10,Turkey,176,181,200,267,296,254,428,513,805,"1,291",816,814,"2,281","4,419","3,019"
11,Sri Lanka,"1,635","2,142","2,143","2,278","1,715","1,411","1,251",960,618,765,415,365,"1,301","2,198","2,862"
12,Nigeria,"1,149","1,105","1,498","1,450","1,519","1,590","1,894","1,664","1,415","1,476","1,062","1,116","1,378","1,462","2,841"
13,Albania,219,439,"1,017","1,641","1,972","1,998","1,884","1,858","2,609","4,233","3,293","5,147","17,340","4,542","2,752"
14,Brazil,49,46,24,24,21,23,42,34,70,208,199,146,714,"2,175","2,669"
15,Colombia,18,29,15,11,7,17,15,7,19,32,15,8,192,"1,426","2,051"
16,Kuwait,77,80,83,88,81,90,121,144,386,205,315,824,715,725,"1,936"
17,China,"1,369","1,023",970,"1,079","1,115",766,"1,004","1,058","1,229","1,535",880,586,"1,073","1,574","1,712"
18,Yemen,48,64,77,63,104,146,100,180,256,360,603,519,793,449,"1,693"
19,Jordan,25,20,22,32,45,37,47,23,51,75,84,45,45,117,"1,629"
20,Other,"8,012","8,046","6,658","6,385","6,830","8,223","7,700","7,655","9,293","11,027","9,029","10,513","21,793","20,258","19,994"
21,Total applications,"22,644","25,898","27,978","29,875","32,344","39,968","39,357","34,435","38,483","45,537","36,986","58,532","99,939","91,811","108,138"

In [11]:
df_country[['Country']] = df_country[['Country']].replace('Total applications', 'Total')
df_country

,Country,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023,2024
0,Pakistan,"2,151","4,005","4,867","4,576","3,976","3,365","3,774","3,193","2,625","2,617","1,572","1,287","3,167","5,904","10,542"
1,Afghanistan,"1,843","1,529","1,242","1,456","1,753","2,852","3,115","1,962","2,103","2,165","1,575","3,192","11,358","9,710","8,508"
2,Iran,"2,224","3,051","3,162","2,967","2,499","3,716","4,837","3,094","4,003","5,490","4,224","10,522","10,007","7,842","8,099"
3,Bangladesh,501,671,"1,169","1,246",919,"1,320","2,256","2,004","1,463","1,375",895,"1,081","4,522","5,097","7,225"
4,Syria,160,508,"1,289","2,020","2,353","2,794","1,569",786,921,"1,390","1,772","3,968","4,857","3,930","6,680"
5,India,610,615,"1,195","1,111",922,"1,324","2,054","1,821","1,685","1,953","1,067","1,216","3,612","5,682","5,312"
6,Vietnam,467,347,416,466,400,620,822,"1,154","1,278","1,610","1,018","1,889","1,075","2,469","5,259"
7,Eritrea,772,827,768,"1,431","3,291","3,756","1,265","1,127","2,208","1,937","2,641","5,079","3,519","4,013","5,053"
8,Sudan,643,793,740,834,"1,615","3,018","1,445","1,842","1,786","1,785","2,183","2,419","3,397","3,564","4,833"
9,Iraq,496,377,423,450,911,"2,648","3,734","3,356","3,660","4,008","3,328","7,796","6,800","4,255","3,469"
10,Turkey,176,181,200,267,296,254,428,513,805,"1,291",816,814,"2,281","4,419","3,019"
11,Sri Lanka,"1,635","2,142","2,143","2,278","1,715","1,411","1,251",960,618,765,415,365,"1,301","2,198","2,862"
12,Nigeria,"1,149","1,105","1,498","1,450","1,519","1,590","1,894","1,664","1,415","1,476","1,062","1,116","1,378","1,462","2,841"
13,Albania,219,439,"1,017","1,641","1,972","1,998","1,884","1,858","2,609","4,233","3,293","5,147","17,340","4,542","2,752"
14,Brazil,49,46,24,24,21,23,42,34,70,208,199,146,714,"2,175","2,669"
15,Colombia,18,29,15,11,7,17,15,7,19,32,15,8,192,"1,426","2,051"
16,Kuwait,77,80,83,88,81,90,121,144,386,205,315,824,715,725,"1,936"
17,China,"1,369","1,023",970,"1,079","1,115",766,"1,004","1,058","1,229","1,535",880,586,"1,073","1,574","1,712"
18,Yemen,48,64,77,63,104,146,100,180,256,360,603,519,793,449,"1,693"
19,Jordan,25,20,22,32,45,37,47,23,51,75,84,45,45,117,"1,629"
20,Other,"8,012","8,046","6,658","6,385","6,830","8,223","7,700","7,655","9,293","11,027","9,029","10,513","21,793","20,258","19,994"
21,Total,"22,644","25,898","27,978","29,875","32,344","39,968","39,357","34,435","38,483","45,537","36,986","58,532","99,939","91,811","108,138"

In [12]:
for col in df_country.columns.tolist():
    if col != 'Country':
        df_country[col] = df_country[col].str.replace(',', '').astype(int)
df_country.dtypes

Country    object
2010        int64
2011        int64
2012        int64
2013        int64
2014        int64
2015        int64
2016        int64
2017        int64
2018        int64
2019        int64
2020        int64
2021        int64
2022        int64
2023        int64
2024        int64
dtype: object

In [14]:
df_country.to_csv('../data/asylum-claims-by-country.csv', index=False)

In [42]:
df_wait = pd.read_csv('../data/asylum-waiting-periods.csv')
df_wait

,As at end of...,Dec 2010,Dec 2011,Dec 2012,Dec 2013,Dec 2014,Dec 2015,Dec 2016,Dec 2017,Dec 2018,Dec 2019,Dec 2020,Dec 2021,Dec 2022,Dec 2023,Dec 2024
0,Awaiting initial decision,"5,978","6,800","9,871","13,628","17,067","18,111","21,475","22,234","27,256","40,032","51,321","81,978","132,182","95,252","90,686"
1,Less than 3 months,"2,131","3,059","3,573","4,633","5,720","9,564","6,983","7,011","8,485","9,618","7,541","18,424","21,810","15,707","22,222"
2,3 to 6 months,430,"1,087","1,857","2,746","2,920","4,921","5,667","4,857","6,558","7,851","7,101","14,874","21,443","21,080","18,411"
3,6 to 12 months,415,754,"1,875","2,470","2,861","1,569","4,016","3,105","4,463","11,298","10,776","13,957","27,155","26,212","22,155"
4,More than 12 months,"3,002","1,900","2,566","3,779","5,566","2,057","4,809","7,261","7,750","11,265","25,903","34,723","61,774","32,253","27,898"

In [43]:
df_wait.columns = ['Year', '2010', '2011', '2012', '2013', '2014', '2015', '2016', '2017', '2018', '2019', '2020', '2021', '2022', '2023', '2024']
df_wait

,Year,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023,2024
0,Awaiting initial decision,"5,978","6,800","9,871","13,628","17,067","18,111","21,475","22,234","27,256","40,032","51,321","81,978","132,182","95,252","90,686"
1,Less than 3 months,"2,131","3,059","3,573","4,633","5,720","9,564","6,983","7,011","8,485","9,618","7,541","18,424","21,810","15,707","22,222"
2,3 to 6 months,430,"1,087","1,857","2,746","2,920","4,921","5,667","4,857","6,558","7,851","7,101","14,874","21,443","21,080","18,411"
3,6 to 12 months,415,754,"1,875","2,470","2,861","1,569","4,016","3,105","4,463","11,298","10,776","13,957","27,155","26,212","22,155"
4,More than 12 months,"3,002","1,900","2,566","3,779","5,566","2,057","4,809","7,261","7,750","11,265","25,903","34,723","61,774","32,253","27,898"

In [44]:
df_wait = df_wait.transpose()
df_wait.columns = df_wait.iloc[0]
df_wait = df_wait.drop('Year')
df_wait

Year,Awaiting initial decision,Less than 3 months,3 to 6 months,6 to 12 months,More than 12 months
2010,"5,978","2,131",430,415,"3,002"
2011,"6,800","3,059","1,087",754,"1,900"
2012,"9,871","3,573","1,857","1,875","2,566"
2013,"13,628","4,633","2,746","2,470","3,779"
2014,"17,067","5,720","2,920","2,861","5,566"
2015,"18,111","9,564","4,921","1,569","2,057"
2016,"21,475","6,983","5,667","4,016","4,809"
2017,"22,234","7,011","4,857","3,105","7,261"
2018,"27,256","8,485","6,558","4,463","7,750"
2019,"40,032","9,618","7,851","11,298","11,265"
2020,"51,321","7,541","7,101","10,776","25,903"
2021,"81,978","18,424","14,874","13,957","34,723"
2022,"132,182","21,810","21,443","27,155","61,774"
2023,"95,252","15,707","21,080","26,212","32,253"
2024,"90,686","22,222","18,411","22,155","27,898"

In [46]:
for col in df_wait.columns.tolist():
    df_wait[col] = df_wait[col].str.replace(',', '').astype(int)
df_wait.dtypes

Year
Awaiting initial decision    int64
Less than 3 months           int64
3 to 6 months                int64
6 to 12 months               int64
More than 12 months          int64
dtype: object

In [48]:
df_wait.to_csv('../data/asylum-waiting-periods.csv')

In [51]:
df_grant = pd.read_csv('../data/asylum-grant-rates.csv')
df_grant

,Nationality,Initial decisions 2024,Grant rate 2024,Initial decisions 2025,Grant rate 2025
0,Afghanistan,"6,098",97%,"7,209",33%
1,Eritrea,"1,862",99%,"5,843",87%
2,Iran,"9,202",81%,"5,734",50%
3,Syria,"2,963",99%,"1,905",99%
4,Sudan,"1,955",99%,"3,857",97%
5,Vietnam,285,27%,"1,564",13%
6,Somalia,211,39%,716,28%
7,Yemen,203,99%,"1,221",98%
8,Iraq,"5,734",33%,"2,495",26%
9,Turkey,820,32%,"2,575",16%
10,All nationalities,"34,148",72%,"37,836",56%

In [52]:
int_categories = ['Initial decisions 2024', 'Initial decisions 2025']

for col in int_categories:
    df_grant[col] = df_grant[col].str.replace(',', '').astype(int)
df_grant.dtypes

Nationality               object
Initial decisions 2024     int64
Grant rate 2024           object
Initial decisions 2025     int64
Grant rate 2025           object
dtype: object

In [53]:
float_categories = ['Grant rate 2024', 'Grant rate 2025']

for col in float_categories:
    df_grant[col] = df_grant[col].str.replace('%', '').astype(int)
df_grant.dtypes

Nationality               object
Initial decisions 2024     int64
Grant rate 2024            int64
Initial decisions 2025     int64
Grant rate 2025            int64
dtype: object

In [57]:
df_grant.to_csv('../data/asylum-grant-rates.csv', index=False)

In [3]:
df_country = pd.read_csv('../data/asylum-claims-by-country.csv')
df_country

,Country,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023,2024
0,Pakistan,2151,4005,4867,4576,3976,3365,3774,3193,2625,2617,1572,1287,3167,5904,10542
1,Afghanistan,1843,1529,1242,1456,1753,2852,3115,1962,2103,2165,1575,3192,11358,9710,8508
2,Iran,2224,3051,3162,2967,2499,3716,4837,3094,4003,5490,4224,10522,10007,7842,8099
3,Bangladesh,501,671,1169,1246,919,1320,2256,2004,1463,1375,895,1081,4522,5097,7225
4,Syria,160,508,1289,2020,2353,2794,1569,786,921,1390,1772,3968,4857,3930,6680
5,India,610,615,1195,1111,922,1324,2054,1821,1685,1953,1067,1216,3612,5682,5312
6,Vietnam,467,347,416,466,400,620,822,1154,1278,1610,1018,1889,1075,2469,5259
7,Eritrea,772,827,768,1431,3291,3756,1265,1127,2208,1937,2641,5079,3519,4013,5053
8,Sudan,643,793,740,834,1615,3018,1445,1842,1786,1785,2183,2419,3397,3564,4833
9,Iraq,496,377,423,450,911,2648,3734,3356,3660,4008,3328,7796,6800,4255,3469
10,Turkey,176,181,200,267,296,254,428,513,805,1291,816,814,2281,4419,3019
11,Sri Lanka,1635,2142,2143,2278,1715,1411,1251,960,618,765,415,365,1301,2198,2862
12,Nigeria,1149,1105,1498,1450,1519,1590,1894,1664,1415,1476,1062,1116,1378,1462,2841
13,Albania,219,439,1017,1641,1972,1998,1884,1858,2609,4233,3293,5147,17340,4542,2752
14,Brazil,49,46,24,24,21,23,42,34,70,208,199,146,714,2175,2669
15,Colombia,18,29,15,11,7,17,15,7,19,32,15,8,192,1426,2051
16,Kuwait,77,80,83,88,81,90,121,144,386,205,315,824,715,725,1936
17,China,1369,1023,970,1079,1115,766,1004,1058,1229,1535,880,586,1073,1574,1712
18,Yemen,48,64,77,63,104,146,100,180,256,360,603,519,793,449,1693
19,Jordan,25,20,22,32,45,37,47,23,51,75,84,45,45,117,1629
20,Other,8012,8046,6658,6385,6830,8223,7700,7655,9293,11027,9029,10513,21793,20258,19994
21,Total,22644,25898,27978,29875,32344,39968,39357,34435,38483,45537,36986,58532,99939,91811,108138

In [4]:
df_long = df_country.melt(
    id_vars=["Country"],
    var_name="Year",
    value_name="People"
)
df_long

         Country  Year  People
0       Pakistan  2010    2151
1    Afghanistan  2010    1843
2           Iran  2010    2224
3     Bangladesh  2010     501
4          Syria  2010     160
..           ...   ...     ...
325        China  2024    1712
326        Yemen  2024    1693
327       Jordan  2024    1629
328        Other  2024   19994
329        Total  2024  108138

[330 rows x 3 columns]

In [5]:
df_long.to_csv('../data/asylum-claims-by-country.csv', index=False)