In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [10]:
df_country = pd.read_csv('../data/asylum-claims-by-country.csv')
df_country

,Country,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023,2024
0,Pakistan,"2,151","4,005","4,867","4,576","3,976","3,365","3,774","3,193","2,625","2,617","1,572","1,287","3,167","5,904","10,542"
1,Afghanistan,"1,843","1,529","1,242","1,456","1,753","2,852","3,115","1,962","2,103","2,165","1,575","3,192","11,358","9,710","8,508"
2,Iran,"2,224","3,051","3,162","2,967","2,499","3,716","4,837","3,094","4,003","5,490","4,224","10,522","10,007","7,842","8,099"
3,Bangladesh,501,671,"1,169","1,246",919,"1,320","2,256","2,004","1,463","1,375",895,"1,081","4,522","5,097","7,225"
4,Syria,160,508,"1,289","2,020","2,353","2,794","1,569",786,921,"1,390","1,772","3,968","4,857","3,930","6,680"
5,India,610,615,"1,195","1,111",922,"1,324","2,054","1,821","1,685","1,953","1,067","1,216","3,612","5,682","5,312"
6,Vietnam,467,347,416,466,400,620,822,"1,154","1,278","1,610","1,018","1,889","1,075","2,469","5,259"
7,Eritrea,772,827,768,"1,431","3,291","3,756","1,265","1,127","2,208","1,937","2,641","5,079","3,519","4,013","5,053"
8,Sudan,643,793,740,834,"1,615","3,018","1,445","1,842","1,786","1,785","2,183","2,419","3,397","3,564","4,833"
9,Iraq,496,377,423,450,911,"2,648","3,734","3,356","3,660","4,008","3,328","7,796","6,800","4,255","3,469"
10,Turkey,176,181,200,267,296,254,428,513,805,"1,291",816,814,"2,281","4,419","3,019"
11,Sri Lanka,"1,635","2,142","2,143","2,278","1,715","1,411","1,251",960,618,765,415,365,"1,301","2,198","2,862"
12,Nigeria,"1,149","1,105","1,498","1,450","1,519","1,590","1,894","1,664","1,415","1,476","1,062","1,116","1,378","1,462","2,841"
13,Albania,219,439,"1,017","1,641","1,972","1,998","1,884","1,858","2,609","4,233","3,293","5,147","17,340","4,542","2,752"
14,Brazil,49,46,24,24,21,23,42,34,70,208,199,146,714,"2,175","2,669"
15,Colombia,18,29,15,11,7,17,15,7,19,32,15,8,192,"1,426","2,051"
16,Kuwait,77,80,83,88,81,90,121,144,386,205,315,824,715,725,"1,936"
17,China,"1,369","1,023",970,"1,079","1,115",766,"1,004","1,058","1,229","1,535",880,586,"1,073","1,574","1,712"
18,Yemen,48,64,77,63,104,146,100,180,256,360,603,519,793,449,"1,693"
19,Jordan,25,20,22,32,45,37,47,23,51,75,84,45,45,117,"1,629"
20,Other,"8,012","8,046","6,658","6,385","6,830","8,223","7,700","7,655","9,293","11,027","9,029","10,513","21,793","20,258","19,994"
21,Total applications,"22,644","25,898","27,978","29,875","32,344","39,968","39,357","34,435","38,483","45,537","36,986","58,532","99,939","91,811","108,138"

In [11]:
df_country[['Country']] = df_country[['Country']].replace('Total applications', 'Total')
df_country

,Country,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023,2024
0,Pakistan,"2,151","4,005","4,867","4,576","3,976","3,365","3,774","3,193","2,625","2,617","1,572","1,287","3,167","5,904","10,542"
1,Afghanistan,"1,843","1,529","1,242","1,456","1,753","2,852","3,115","1,962","2,103","2,165","1,575","3,192","11,358","9,710","8,508"
2,Iran,"2,224","3,051","3,162","2,967","2,499","3,716","4,837","3,094","4,003","5,490","4,224","10,522","10,007","7,842","8,099"
3,Bangladesh,501,671,"1,169","1,246",919,"1,320","2,256","2,004","1,463","1,375",895,"1,081","4,522","5,097","7,225"
4,Syria,160,508,"1,289","2,020","2,353","2,794","1,569",786,921,"1,390","1,772","3,968","4,857","3,930","6,680"
5,India,610,615,"1,195","1,111",922,"1,324","2,054","1,821","1,685","1,953","1,067","1,216","3,612","5,682","5,312"
6,Vietnam,467,347,416,466,400,620,822,"1,154","1,278","1,610","1,018","1,889","1,075","2,469","5,259"
7,Eritrea,772,827,768,"1,431","3,291","3,756","1,265","1,127","2,208","1,937","2,641","5,079","3,519","4,013","5,053"
8,Sudan,643,793,740,834,"1,615","3,018","1,445","1,842","1,786","1,785","2,183","2,419","3,397","3,564","4,833"
9,Iraq,496,377,423,450,911,"2,648","3,734","3,356","3,660","4,008","3,328","7,796","6,800","4,255","3,469"
10,Turkey,176,181,200,267,296,254,428,513,805,"1,291",816,814,"2,281","4,419","3,019"
11,Sri Lanka,"1,635","2,142","2,143","2,278","1,715","1,411","1,251",960,618,765,415,365,"1,301","2,198","2,862"
12,Nigeria,"1,149","1,105","1,498","1,450","1,519","1,590","1,894","1,664","1,415","1,476","1,062","1,116","1,378","1,462","2,841"
13,Albania,219,439,"1,017","1,641","1,972","1,998","1,884","1,858","2,609","4,233","3,293","5,147","17,340","4,542","2,752"
14,Brazil,49,46,24,24,21,23,42,34,70,208,199,146,714,"2,175","2,669"
15,Colombia,18,29,15,11,7,17,15,7,19,32,15,8,192,"1,426","2,051"
16,Kuwait,77,80,83,88,81,90,121,144,386,205,315,824,715,725,"1,936"
17,China,"1,369","1,023",970,"1,079","1,115",766,"1,004","1,058","1,229","1,535",880,586,"1,073","1,574","1,712"
18,Yemen,48,64,77,63,104,146,100,180,256,360,603,519,793,449,"1,693"
19,Jordan,25,20,22,32,45,37,47,23,51,75,84,45,45,117,"1,629"
20,Other,"8,012","8,046","6,658","6,385","6,830","8,223","7,700","7,655","9,293","11,027","9,029","10,513","21,793","20,258","19,994"
21,Total,"22,644","25,898","27,978","29,875","32,344","39,968","39,357","34,435","38,483","45,537","36,986","58,532","99,939","91,811","108,138"

In [12]:
for col in df_country.columns.tolist():
    if col != 'Country':
        df_country[col] = df_country[col].str.replace(',', '').astype(int)
df_country.dtypes

Country    object
2010        int64
2011        int64
2012        int64
2013        int64
2014        int64
2015        int64
2016        int64
2017        int64
2018        int64
2019        int64
2020        int64
2021        int64
2022        int64
2023        int64
2024        int64
dtype: object

In [13]:
df_country.to_csv('../data/asylum-claims-by-country.csv')