In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
df_boats = pd.read_csv('../data/small-boat-arrivals.csv')
df_boats

,Year,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec,Total
0,2018.0,7,0,0,0,0,4,0,10,7,23,110,138,299
1,2019.0,45,88,66,80,150,163,195,342,210,75,151,278,"1,843"
2,2020.0,94,183,188,558,743,727,"1,111","1,469","1,949",474,761,209,"8,466"
3,2021.0,224,308,831,750,"1,627","2,177","3,512","3,053","4,602","2,701","6,971","1,770","28,526"
4,2022.0,"1,339",143,"3,066","2,143","2,916","3,140","3,673","8,574","8,054","6,900","4,082","1,744","45,774"
5,2023.0,"1,180","1,773",840,"2,153","1,664","3,823","3,299","5,369","4,729","1,869","1,661","1,077","29,437"
6,2024.0,"1,335",920,"3,180","2,132","2,881","3,041","3,414","4,149","4,192","5,417","2,901","3,254","36,816"
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
df_boats.dropna(inplace=True)
df_boats

,Year,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec,Total
0,2018.0,7,0,0,0,0,4,0,10,7,23,110,138,299
1,2019.0,45,88,66,80,150,163,195,342,210,75,151,278,"1,843"
2,2020.0,94,183,188,558,743,727,"1,111","1,469","1,949",474,761,209,"8,466"
3,2021.0,224,308,831,750,"1,627","2,177","3,512","3,053","4,602","2,701","6,971","1,770","28,526"
4,2022.0,"1,339",143,"3,066","2,143","2,916","3,140","3,673","8,574","8,054","6,900","4,082","1,744","45,774"
5,2023.0,"1,180","1,773",840,"2,153","1,664","3,823","3,299","5,369","4,729","1,869","1,661","1,077","29,437"
6,2024.0,"1,335",920,"3,180","2,132","2,881","3,041","3,414","4,149","4,192","5,417","2,901","3,254","36,816"

In [8]:
for col in df_boats.columns.tolist():
    if col == 'Year':
        df_boats[col] = df_boats[col].astype(int)
    else:
        df_boats[col] = df_boats[col].str.replace(',', '').astype(int)
df_boats

,Year,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec,Total
0,2018,7,0,0,0,0,4,0,10,7,23,110,138,299
1,2019,45,88,66,80,150,163,195,342,210,75,151,278,1843
2,2020,94,183,188,558,743,727,1111,1469,1949,474,761,209,8466
3,2021,224,308,831,750,1627,2177,3512,3053,4602,2701,6971,1770,28526
4,2022,1339,143,3066,2143,2916,3140,3673,8574,8054,6900,4082,1744,45774
5,2023,1180,1773,840,2153,1664,3823,3299,5369,4729,1869,1661,1077,29437
6,2024,1335,920,3180,2132,2881,3041,3414,4149,4192,5417,2901,3254,36816

In [9]:
df_boats.to_csv('../data/small-boat-arrivals.csv', index=False)

In [10]:
df_nation = pd.read_csv('../data/small-boat-nationality.csv')
df_nation

     Nationality  2018   2019   2020    2021    2022    2023    2024
0        Eritrea     0      0    511   2,875   2,020   2,666   3,480
1    Afghanistan     3     69    494   1,437   9,088   5,511   6,065
2          Sudan     0      0    969   1,064   1,762   1,658   2,748
3        Somalia     0      0     14     318      86     248     697
4           Iran   238  1,213  2,373   8,319   5,841   3,582   4,214
5        Vietnam     4      3    118   1,403     505   1,306   3,657
6          Yemen     0      0    252     135     160      91   1,300
7       Ethiopia     0      5    108     544     530     249     508
8           Iraq    33    471  1,648   6,117   4,574   2,536   2,142
9      Stateless     0      2    389     498     198      51     138
10         Syria     1     14    776   2,451   3,006   2,275   4,693
11        Turkey     0      2     10      69   1,127   3,058   1,944
12        Kuwait     0      2     79     537     374     309     462
13         Libya     0      0     28     160     133     223     382
14     Palestine     0      0     62      95      64      43      72
15         Egypt     0      1     53     366   1,233     810     378
16         India     0      0     64      67     748   1,214     293
17   South Sudan     0      0     34      62     129     256     328
18       Georgia     0      0      3       0     313     572     316
19       Refugee     0      7     99      42      45      22     697
20         Other    20     54    382   1,385  13,638   1,721   1,563
21  Not recorded     0      0      0     582     200   1,036     739
22         Total   299  1,843  8,466  28,526  45,774  29,437  36,816

In [11]:
df_nation.drop([9, 19, 21], inplace=True)
df_nation

    Nationality  2018   2019   2020    2021    2022    2023    2024
0       Eritrea     0      0    511   2,875   2,020   2,666   3,480
1   Afghanistan     3     69    494   1,437   9,088   5,511   6,065
2         Sudan     0      0    969   1,064   1,762   1,658   2,748
3       Somalia     0      0     14     318      86     248     697
4          Iran   238  1,213  2,373   8,319   5,841   3,582   4,214
5       Vietnam     4      3    118   1,403     505   1,306   3,657
6         Yemen     0      0    252     135     160      91   1,300
7      Ethiopia     0      5    108     544     530     249     508
8          Iraq    33    471  1,648   6,117   4,574   2,536   2,142
10        Syria     1     14    776   2,451   3,006   2,275   4,693
11       Turkey     0      2     10      69   1,127   3,058   1,944
12       Kuwait     0      2     79     537     374     309     462
13        Libya     0      0     28     160     133     223     382
14    Palestine     0      0     62      95      64      43      72
15        Egypt     0      1     53     366   1,233     810     378
16        India     0      0     64      67     748   1,214     293
17  South Sudan     0      0     34      62     129     256     328
18      Georgia     0      0      3       0     313     572     316
20        Other    20     54    382   1,385  13,638   1,721   1,563
22        Total   299  1,843  8,466  28,526  45,774  29,437  36,816

In [13]:
df_nation.dtypes

Nationality    object
2018            int64
2019           object
2020           object
2021           object
2022           object
2023           object
2024           object
dtype: object

In [14]:
for col in df_nation.columns.tolist():
    if col != 'Nationality' and col != '2018':
        df_nation[col] = df_nation[col].str.replace(',', '').astype(int)
df_nation

    Nationality  2018  2019  2020   2021   2022   2023   2024
0       Eritrea     0     0   511   2875   2020   2666   3480
1   Afghanistan     3    69   494   1437   9088   5511   6065
2         Sudan     0     0   969   1064   1762   1658   2748
3       Somalia     0     0    14    318     86    248    697
4          Iran   238  1213  2373   8319   5841   3582   4214
5       Vietnam     4     3   118   1403    505   1306   3657
6         Yemen     0     0   252    135    160     91   1300
7      Ethiopia     0     5   108    544    530    249    508
8          Iraq    33   471  1648   6117   4574   2536   2142
10        Syria     1    14   776   2451   3006   2275   4693
11       Turkey     0     2    10     69   1127   3058   1944
12       Kuwait     0     2    79    537    374    309    462
13        Libya     0     0    28    160    133    223    382
14    Palestine     0     0    62     95     64     43     72
15        Egypt     0     1    53    366   1233    810    378
16        India     0     0    64     67    748   1214    293
17  South Sudan     0     0    34     62    129    256    328
18      Georgia     0     0     3      0    313    572    316
20        Other    20    54   382   1385  13638   1721   1563
22        Total   299  1843  8466  28526  45774  29437  36816

In [15]:
df_nation.to_csv('../data/small-boat-nationality.csv', index=False)

In [16]:
df_age = pd.read_csv('../data/small-boat-age-sex.csv')
df_age

        Sex     Age Group  2018   2019   2020    2021    2022    2023    2024
0      Male  17 and under    16    207  1,089   3,347   6,400   4,312   4,306
1      Male      18 to 24    39    264  1,785   9,035  14,774   9,067  11,252
2      Male      25 to 39   185    919  3,840  11,059  15,993   9,727  13,593
3      Male   40 and over    33    164    669   1,448   2,767   1,725   2,204
4    Female  17 and under     9    101    360     925   1,671     938   1,124
5    Female      18 to 24     2     24    141     533     970     756   1,216
6    Female      25 to 39    14    125    427   1,224   2,200   1,441   1,872
7    Female   40 and over     1     39    155     297     580     413     509
8   Unknown  17 and under     0      0      0      49      90       3       0
9   Unknown      18 to 24     0      0      0      11      65      10       0
10  Unknown      25 to 39     0      0      0      10      49       9       1
11  Unknown   40 and over     0      0      0       6      15       0       0
12      All  17 and under    25    308  1,449   4,321   8,161   5,253   5,430
13      All      18 to 24    41    288  1,926   9,579  15,809   9,833  12,468
14      All      25 to 39   199  1,044  4,267  12,293  18,242  11,177  15,466
15      All   40 and over    34    203    824   1,751   3,362   2,138   2,713

In [18]:
for col in df_age.columns.tolist():
    if col != 'Sex' and col != 'Age Group' and col != '2018':
        df_age[col] = df_age[col].str.replace(',', '').astype(int)
df_age

        Sex     Age Group  2018  2019  2020   2021   2022   2023   2024
0      Male  17 and under    16   207  1089   3347   6400   4312   4306
1      Male      18 to 24    39   264  1785   9035  14774   9067  11252
2      Male      25 to 39   185   919  3840  11059  15993   9727  13593
3      Male   40 and over    33   164   669   1448   2767   1725   2204
4    Female  17 and under     9   101   360    925   1671    938   1124
5    Female      18 to 24     2    24   141    533    970    756   1216
6    Female      25 to 39    14   125   427   1224   2200   1441   1872
7    Female   40 and over     1    39   155    297    580    413    509
8   Unknown  17 and under     0     0     0     49     90      3      0
9   Unknown      18 to 24     0     0     0     11     65     10      0
10  Unknown      25 to 39     0     0     0     10     49      9      1
11  Unknown   40 and over     0     0     0      6     15      0      0
12      All  17 and under    25   308  1449   4321   8161   5253   5430
13      All      18 to 24    41   288  1926   9579  15809   9833  12468
14      All      25 to 39   199  1044  4267  12293  18242  11177  15466
15      All   40 and over    34   203   824   1751   3362   2138   2713

In [19]:
df_age.to_csv('../data/small-boat-age-sex.csv', index=False)