In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
df_boats = pd.read_csv('../data/small-boat-arrivals.csv')
df_boats

,Year,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec,Total
0,2018.0,7,0,0,0,0,4,0,10,7,23,110,138,299
1,2019.0,45,88,66,80,150,163,195,342,210,75,151,278,"1,843"
2,2020.0,94,183,188,558,743,727,"1,111","1,469","1,949",474,761,209,"8,466"
3,2021.0,224,308,831,750,"1,627","2,177","3,512","3,053","4,602","2,701","6,971","1,770","28,526"
4,2022.0,"1,339",143,"3,066","2,143","2,916","3,140","3,673","8,574","8,054","6,900","4,082","1,744","45,774"
5,2023.0,"1,180","1,773",840,"2,153","1,664","3,823","3,299","5,369","4,729","1,869","1,661","1,077","29,437"
6,2024.0,"1,335",920,"3,180","2,132","2,881","3,041","3,414","4,149","4,192","5,417","2,901","3,254","36,816"
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
df_boats.dropna(inplace=True)
df_boats

,Year,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec,Total
0,2018.0,7,0,0,0,0,4,0,10,7,23,110,138,299
1,2019.0,45,88,66,80,150,163,195,342,210,75,151,278,"1,843"
2,2020.0,94,183,188,558,743,727,"1,111","1,469","1,949",474,761,209,"8,466"
3,2021.0,224,308,831,750,"1,627","2,177","3,512","3,053","4,602","2,701","6,971","1,770","28,526"
4,2022.0,"1,339",143,"3,066","2,143","2,916","3,140","3,673","8,574","8,054","6,900","4,082","1,744","45,774"
5,2023.0,"1,180","1,773",840,"2,153","1,664","3,823","3,299","5,369","4,729","1,869","1,661","1,077","29,437"
6,2024.0,"1,335",920,"3,180","2,132","2,881","3,041","3,414","4,149","4,192","5,417","2,901","3,254","36,816"

In [ ]:
for col in df_boats.columns.tolist():
    if col == 'Year':
        df_boats[col]