In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
df = pd.read_csv('../data/net-migration-figures.csv')

In [4]:
df.head()

   Year All Nationalities  British      EU+ Non-EU+
0  2012           195,000  -72,000  206,000  61,000
1  2013           244,000  -81,000  262,000  63,000
2  2014           284,000  -80,000  277,000  87,000
3  2015           303,000  -73,000  287,000  88,000
4  2016           249,000  -94,000  253,000  90,000

In [20]:
df.dtypes

Year                  int64
All Nationalities    object
British              object
EU+                  object
Non-EU+              object
dtype: object

In [21]:
for col in df.columns:
    if col != 'Year':
        df[col] = df[col].str.replace(',', '').astype(int)

In [22]:
df.head()

   Year  All Nationalities  British     EU+  Non-EU+
0  2012             195000   -72000  206000    61000
1  2013             244000   -81000  262000    63000
2  2014             284000   -80000  277000    87000
3  2015             303000   -73000  287000    88000
4  2016             249000   -94000  253000    90000

In [30]:
df_country = pd.read_csv('../data/immigration-by-country.csv')

In [32]:
df_country.head()

  Nationality  Year All-reasons     Work    Study   Other
0      Indian  2021     150,000   62,000   77,000  11,000
1      Indian  2022     267,000  116,000  140,000  11,000
2      Indian  2023     277,000  132,000  136,000  10,000
3      Indian  2024     156,000   68,000   82,000   7,000
4   Pakistani  2021      34,000    5,000   13,000  17,000

In [47]:
for col in df_country.columns:
    if col == 'Year':
        continue
    if col == 'Nationality':
        continue
    df_country[col] = df_country[col].str.replace(',', '').astype(int)

In [51]:
df_country

                       Nationality  Year  All-reasons    Work   Study   Other
0                           Indian  2021       150000   62000   77000   11000
1                           Indian  2022       267000  116000  140000   11000
2                           Indian  2023       277000  132000  136000   10000
3                           Indian  2024       156000   68000   82000    7000
4                        Pakistani  2021        34000    5000   13000   17000
5                        Pakistani  2022        52000    9000   27000   17000
6                        Pakistani  2023        94000   35000   41000   18000
7                        Pakistani  2024        76000   31000   30000   15000
8                          Chinese  2021        90000    3000   66000   21000
9                          Chinese  2022        96000    4000   66000   26000
10                         Chinese  2023        77000    5000   54000   19000
11                         Chinese  2024        70000    5000   53000   12000
12                        Nigerian  2021        48000   12000   32000    4000
13                        Nigerian  2022       127000   28000   94000    5000
14                        Nigerian  2023       165000   73000   88000    5000
15                        Nigerian  2024        52000   27000   22000    3000
16                        Ukranian  2021         5000    2000    1000    2000
17                        Ukranian  2022       133000    6000    1000  127000
18                        Ukranian  2023        40000    2000       0   37000
19                        Ukranian  2024        23000       0       0   22000
20                      Zimbabwean  2021         4000    3000    1000       0
21                      Zimbabwean  2022        20000   19000    1000       0
22                      Zimbabwean  2023        41000   40000    1000    1000
23                      Zimbabwean  2024        21000   20000    1000       0
24  United States of America (USA)  2021        18000    7000    8000    4000
25  United States of America (USA)  2022        18000    8000    6000    3000
26  United States of America (USA)  2023        19000    8000    7000    4000
27  United States of America (USA)  2024        19000    8000    7000    4000
28                        Nepalese  2021         6000    1000    3000    2000
29                        Nepalese  2022        10000    3000    5000    2000
30                        Nepalese  2023        17000    4000   10000    4000
31                        Nepalese  2024        19000    4000   11000    4000
32                      Bangladesh  2021        15000    1000    8000    6000
33                      Bangladesh  2022        25000    3000   17000    5000
34                      Bangladesh  2023        37000   20000   13000    5000
35                      Bangladesh  2024        17000    8000    5000    4000
36                        Ghanaian  2021         7000    2000    2000    3000
37                        Ghanaian  2022        14000    5000    5000    4000
38                        Ghanaian  2023        40000   28000    8000    4000
39                        Ghanaian  2024        16000   10000    3000    3000

In [52]:
df_country['Nationality'] = df_country['Nationality'].replace('United States of America (USA)', 'USA')
df_country['Nationality'] = df_country['Nationality'].replace('Indian', 'India')
df_country['Nationality'] = df_country['Nationality'].replace('Pakistani', 'Pakistan')
df_country['Nationality'] = df_country['Nationality'].replace('Chinese', 'China')
df_country['Nationality'] = df_country['Nationality'].replace('Nigerian', 'Nigeria')
df_country['Nationality'] = df_country['Nationality'].replace('Ukranian', 'Ukraine')
df_country['Nationality'] = df_country['Nationality'].replace('Zimbabwean', 'Zimbabwe')
df_country['Nationality'] = df_country['Nationality'].replace('Nepalese', 'Nepal')
df_country['Nationality'] = df_country['Nationality'].replace('Ghanaian', 'Ghana')

In [54]:
df_country = df_country.rename(columns={'Nationality': 'Country'})
df_country

       Country  Year  All-reasons    Work   Study   Other
0        India  2021       150000   62000   77000   11000
1        India  2022       267000  116000  140000   11000
2        India  2023       277000  132000  136000   10000
3        India  2024       156000   68000   82000    7000
4     Pakistan  2021        34000    5000   13000   17000
5     Pakistan  2022        52000    9000   27000   17000
6     Pakistan  2023        94000   35000   41000   18000
7     Pakistan  2024        76000   31000   30000   15000
8        China  2021        90000    3000   66000   21000
9        China  2022        96000    4000   66000   26000
10       China  2023        77000    5000   54000   19000
11       China  2024        70000    5000   53000   12000
12     Nigeria  2021        48000   12000   32000    4000
13     Nigeria  2022       127000   28000   94000    5000
14     Nigeria  2023       165000   73000   88000    5000
15     Nigeria  2024        52000   27000   22000    3000
16     Ukraine  2021         5000    2000    1000    2000
17     Ukraine  2022       133000    6000    1000  127000
18     Ukraine  2023        40000    2000       0   37000
19     Ukraine  2024        23000       0       0   22000
20    Zimbabwe  2021         4000    3000    1000       0
21    Zimbabwe  2022        20000   19000    1000       0
22    Zimbabwe  2023        41000   40000    1000    1000
23    Zimbabwe  2024        21000   20000    1000       0
24         USA  2021        18000    7000    8000    4000
25         USA  2022        18000    8000    6000    3000
26         USA  2023        19000    8000    7000    4000
27         USA  2024        19000    8000    7000    4000
28       Nepal  2021         6000    1000    3000    2000
29       Nepal  2022        10000    3000    5000    2000
30       Nepal  2023        17000    4000   10000    4000
31       Nepal  2024        19000    4000   11000    4000
32  Bangladesh  2021        15000    1000    8000    6000
33  Bangladesh  2022        25000    3000   17000    5000
34  Bangladesh  2023        37000   20000   13000    5000
35  Bangladesh  2024        17000    8000    5000    4000
36       Ghana  2021         7000    2000    2000    3000
37       Ghana  2022        14000    5000    5000    4000
38       Ghana  2023        40000   28000    8000    4000
39       Ghana  2024        16000   10000    3000    3000

In [55]:
df_country.to_csv('../data/immigration-by-country.csv', index=False)

In [56]:
df_reason = pd.read_csv('../data/immigration-by-reason.csv')

In [58]:
df_reason

,Year,All reasons,Work: Main applicant,Work: Dependant,Study: Main applicant,Study: Dependant,Family,Humanitarian: BNO,Humanitarian: Resettlement,Humanitarian: Ukraine,Asylum,Other
0,2019.0,"368,000","62,000","37,000","112,000","9,000","78,000",0,"6,000",0,"42,000","23,000"
1,2020.0,"294,000","42,000","29,000","100,000","12,000","56,000",0,"1,000",0,"35,000","20,000"
2,2021.0,"617,000","81,000","62,000","224,000","38,000","70,000","39,000","18,000",0,"59,000","28,000"
3,2022.0,"1,078,000","156,000","124,000","321,000","104,000","68,000","56,000","6,000","126,000","90,000","28,000"
4,2023.0,"1,132,000","221,000","230,000","302,000","121,000","86,000","35,000","4,000","37,000","80,000","16,000"
5,2024.0,"766,000","113,000","149,000","249,000","17,000","76,000","21,000","8,000","22,000","95,000","15,000"
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [59]:
df_reason.dropna(inplace=True)
df_reason

,Year,All reasons,Work: Main applicant,Work: Dependant,Study: Main applicant,Study: Dependant,Family,Humanitarian: BNO,Humanitarian: Resettlement,Humanitarian: Ukraine,Asylum,Other
0,2019.0,"368,000","62,000","37,000","112,000","9,000","78,000",0,"6,000",0,"42,000","23,000"
1,2020.0,"294,000","42,000","29,000","100,000","12,000","56,000",0,"1,000",0,"35,000","20,000"
2,2021.0,"617,000","81,000","62,000","224,000","38,000","70,000","39,000","18,000",0,"59,000","28,000"
3,2022.0,"1,078,000","156,000","124,000","321,000","104,000","68,000","56,000","6,000","126,000","90,000","28,000"
4,2023.0,"1,132,000","221,000","230,000","302,000","121,000","86,000","35,000","4,000","37,000","80,000","16,000"
5,2024.0,"766,000","113,000","149,000","249,000","17,000","76,000","21,000","8,000","22,000","95,000","15,000"

In [64]:
for col in df_reason.columns:
    if col == 'Year':
        df_reason[col] = df_reason[col].astype(int)
    else:
        df_reason[col] = df_reason[col].str.replace(',', '').astype(int)
df_reason

,Year,All reasons,Work: Main applicant,Work: Dependant,Study: Main applicant,Study: Dependant,Family,Humanitarian: BNO,Humanitarian: Resettlement,Humanitarian: Ukraine,Asylum,Other
0,2021,368000,62000,37000,112000,9000,78000,0,6000,0,42000,23000
1,2022,294000,42000,29000,100000,12000,56000,0,1000,0,35000,20000
2,2023,617000,81000,62000,224000,38000,70000,39000,18000,0,59000,28000
3,2024,1078000,156000,124000,321000,104000,68000,56000,6000,126000,90000,28000
4,2021,1132000,221000,230000,302000,121000,86000,35000,4000,37000,80000,16000
5,2022,766000,113000,149000,249000,17000,76000,21000,8000,22000,95000,15000

In [65]:
df_reason['Total Dependants'] = df_reason[['Work: Dependant', 'Study: Dependant']].sum(axis=1)
df_reason['Total Humanitarian'] = df_reason[['Humanitarian: BNO', 'Humanitarian: Resettlement', 'Humanitarian: Ukraine']].sum(axis=1)
df_reason

,Year,All reasons,Work: Main applicant,Work: Dependant,Study: Main applicant,Study: Dependant,Family,Humanitarian: BNO,Humanitarian: Resettlement,Humanitarian: Ukraine,Asylum,Other,Total Dependants,Total Humanitarian
0,2021,368000,62000,37000,112000,9000,78000,0,6000,0,42000,23000,46000,6000
1,2022,294000,42000,29000,100000,12000,56000,0,1000,0,35000,20000,41000,1000
2,2023,617000,81000,62000,224000,38000,70000,39000,18000,0,59000,28000,100000,57000
3,2024,1078000,156000,124000,321000,104000,68000,56000,6000,126000,90000,28000,228000,188000
4,2021,1132000,221000,230000,302000,121000,86000,35000,4000,37000,80000,16000,351000,76000
5,2022,766000,113000,149000,249000,17000,76000,21000,8000,22000,95000,15000,166000,51000

In [66]:
df_reason = df_reason.rename(columns={'Total Dependants': 'Dependant', 'Total Humanitarian': 'Humanitarian'})
df_reason

,Year,All reasons,Work: Main applicant,Work: Dependant,Study: Main applicant,Study: Dependant,Family,Humanitarian: BNO,Humanitarian: Resettlement,Humanitarian: Ukraine,Asylum,Other,Dependant,Humanitarian
0,2021,368000,62000,37000,112000,9000,78000,0,6000,0,42000,23000,46000,6000
1,2022,294000,42000,29000,100000,12000,56000,0,1000,0,35000,20000,41000,1000
2,2023,617000,81000,62000,224000,38000,70000,39000,18000,0,59000,28000,100000,57000
3,2024,1078000,156000,124000,321000,104000,68000,56000,6000,126000,90000,28000,228000,188000
4,2021,1132000,221000,230000,302000,121000,86000,35000,4000,37000,80000,16000,351000,76000
5,2022,766000,113000,149000,249000,17000,76000,21000,8000,22000,95000,15000,166000,51000

In [67]:
df_reason['Year'] = [2019, 2020, 2021, 2022, 2023, 2024]
df_reason

,Year,All reasons,Work: Main applicant,Work: Dependant,Study: Main applicant,Study: Dependant,Family,Humanitarian: BNO,Humanitarian: Resettlement,Humanitarian: Ukraine,Asylum,Other,Dependant,Humanitarian
0,2019,368000,62000,37000,112000,9000,78000,0,6000,0,42000,23000,46000,6000
1,2020,294000,42000,29000,100000,12000,56000,0,1000,0,35000,20000,41000,1000
2,2021,617000,81000,62000,224000,38000,70000,39000,18000,0,59000,28000,100000,57000
3,2022,1078000,156000,124000,321000,104000,68000,56000,6000,126000,90000,28000,228000,188000
4,2023,1132000,221000,230000,302000,121000,86000,35000,4000,37000,80000,16000,351000,76000
5,2024,766000,113000,149000,249000,17000,76000,21000,8000,22000,95000,15000,166000,51000

In [69]:
df_reason.to_csv('../data/immigration-by-reason.csv', index=False)